

/* Start:/local/templates/main/components/bitrix/news.list/contacts/style.css?1656605135228*/
.contacts-item p {
	font-family: "Open Sans";
	font-size: 14px;
	line-height: 22px;
	margin: 0 0 10px;
}
.contacts-item h4 {
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: bold;
	line-height: 22px;
	margin: 5px 0;
}

/* End */
/* /local/templates/main/components/bitrix/news.list/contacts/style.css?1656605135228 */
